.weekDay{
    background: #5c6bc0;
}
.saturDay{
    background: #3f51b5;
}

.iconTime{
    width: 32px;
}


.weekDay_revert{
    background: #f17e758c;
}
.saturDay_revert{
    background: #da4b408c;
}

.alert-warning {
    color: #856404;
    background-color: #ffc107;
    border-color: #ffeeba;
}